.header {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  margin: 0;
  font-weight: bold;
}

#instruction {
  border: 1px solid white;
}

.start {
  font-size: 18px;
}
